# Project dependencies
node_modules/
.cache/

# Build directory
public
.env*
.DS_Store
yarn-error.log

# this data should be empty due is calculted on SSR time at gatsby-node.js
src/content/*
src/styles/colors.scss