/* builder-sans-500 - latin */
@font-face {
    font-family: "Builder Sans";
    font-style: normal;
    font-weight: 500;
    src: local(""),
      url("./Roblox/RobloxBETA-Regular-v1.007.otf") format("opentype")
}
  /* builder-sans-700 - latin */
@font-face {
    font-family: "Builder Sans";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("./Roblox/RobloxDisplayBETA-Bold-v1.003.otf") format("opentype"),
}