.page-header {
  display: flex;
  max-height: 365px;
  min-height: 325px;
  background-color: var(--color_secondary_contrast);
  color: white;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .titles {
    flex-basis: 100%;
    margin-top: 75px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;

    h1 {
      font-size: 76px;
      margin: 0px;
      font-family: "Builder Extended Bold";
      color: rgb(255, 255, 255);
      line-height: 1;
      letter-spacing: -0.02em;
      text-align: center;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
    }

    @media screen and (max-width: 768px) {
      align-self: center;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .page-header {
    flex-direction: column;
    min-height: 365px;
    max-height: 400px;
  }
}